:root {
  --main-theme-color: #00407c;
  --main-theme-hover: #0099ff;
}

* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

body {
  background-color: rgb(238, 238, 238);
}

.pageWrap {
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 230px);
}

.App {
  text-align: center;
}

header a {
  color: white;
}

li a:hover {
  color: var(--main-theme-hover);
}

header a:hover {
  color: var(--main-theme-hover);
}

a {
  color: black;
}

.loginForm input[type="username"],
input[type="password"] {
  background-color: rgb(241, 241, 241);
  margin: 10px;
  min-width: 40%;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  font-size: 16pt;
}

button,
input[type="submit"] {
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  color: white;
  background-color: var(--main-theme-color);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}

button:hover,
input[type="submit"]:hover {
  background-color: var(--main-theme-hover);
}

.mainList {
  background-color: white;
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.3);
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

/* https://codepen.io/anon/pen/RmZwyy?editors=1100 */
.main_list {
  text-decoration: none;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  width: 200px;
}

li:last-child {
  border: none;
}

.main_list:hover {
  font-size: 25px;
  color: var(--main-theme-hover);
}

.App div .adminToolbar button {
  margin-left: "5px";
  margin-right: "5px";
  min-height: 100%;
}

#new_blog_ta {
  min-height: 280px;
  min-width: 100%;
  font-weight: 400;
  font-size: 30px;
  background-color: rgb(241, 241, 241);
  border: none;
  resize: horizontal;
}

img {
  max-height: 100%;
  max-width: 100%;
}

#usertable {
  text-align: left;
  padding: 1px;
  border: 1.5px;
  overflow: auto;
}

#userTable td,
#userTable th {
  padding: 10px;
  text-align: left;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

#userTable th {
  text-align: left;
}

#userTable tr:hover td {
  background-color: rgb(243, 243, 243);
}

#side-buttons-users button {
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  padding-left: 5px;
}

input,
textarea {
  box-shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.3);
}

footer,
.row {
  margin: 0px;
  padding: 10px 0px 0px 0px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #ccc;
}

.cardLayoutMainPage {
  box-shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  margin: 0.8em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.cardLayoutMainPage:first-child {
  margin-top: 0;
}

.cardLayoutMainPage:last-child {
  margin-bottom: 0;
}
